################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/budicMarinUpravljac/v16/.suo
/.vs/VSWorkspaceState.json
/upravljac/.vs/upravljac/v16/.suo
/upravljac/.vs/upravljac/v16/Server/sqlite3
